<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-phone-heading" data-cy="PhoneCreateUpdateHeading" jhiTranslate="personApp.phone.home.createOrEditLabel">
        Create or edit a Phone
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="personApp.phone.number" for="field_number">Number</label>
          <input type="text" class="form-control" name="number" id="field_number" data-cy="number" formControlName="number" />
          <div *ngIf="editForm.get('number')!.invalid && (editForm.get('number')!.dirty || editForm.get('number')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('number')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="personApp.phone.phoneType" for="field_phoneType">Phone Type</label>
          <select class="form-control" name="phoneType" formControlName="phoneType" id="field_phoneType" data-cy="phoneType">
            <option [ngValue]="null">{{ 'personApp.PhoneType.null' | translate }}</option>
            <option value="HOME">{{ 'personApp.PhoneType.HOME' | translate }}</option>
            <option value="MOBILE">{{ 'personApp.PhoneType.MOBILE' | translate }}</option>
            <option value="COMMERCIAL">{{ 'personApp.PhoneType.COMMERCIAL' | translate }}</option>
          </select>
          <div *ngIf="editForm.get('phoneType')!.invalid && (editForm.get('phoneType')!.dirty || editForm.get('phoneType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phoneType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="personApp.phone.person" for="field_person">Person</label>
          <select class="form-control" id="field_person" data-cy="person" name="person" formControlName="person">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personOption.id === editForm.get('person')!.value?.id ? editForm.get('person')!.value : personOption"
              *ngFor="let personOption of peopleSharedCollection; trackBy: trackPersonById"
            >
              {{ personOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
